/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
    }

    html{
      scroll-behavior: smooth;
      font-size: 16px;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      background: #f1efe4;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
      overflow-x: hidden;
    }

    ul,li {
      margin: 0px;
      padding: 0px;
      
    }

    h1,h2,h3,h4,p{
      margin: 0px;
      font-weight: normal;
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #F3EDE6;
      min-height: 100%;
      display: grid !important;
      grid-template-rows: auto 1fr auto;
      position: relative;
    }

    .upper{
      text-transform: uppercase;
    }

/*----шрифты----*/

@font-face {
  font-family: "Montserrat-800";
  src: 
    url("Montserrat-ExtraBold.woff2") format("woff2"),
    url("Montserrat-ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-700";
  src: 
    url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-600";
  src: 
  url("Montserrat-SemiBold.woff2") format("woff2"),
    url("Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-500";
  src: 
    url("Montserrat-Medium.woff2") format("woff2"),
    url("Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-400";
  src: 
   url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-300";
  src: 
    url("Montserrat-Light.woff2") format("woff2"),
    url("Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular-400";
  src: 
   url("BebasNeueRegular.woff2") format("woff2"),
    url("BebasNeueRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "BebasNeueBold-700";
  src: 
   url("BebasNeueBold.woff2") format("woff2"),
    url("BebasNeueBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@keyframes aniop {
   0% { opacity: 0; }
  100% { opacity: 1;  }
}

@keyframes ani {
   0% { color: #333333; }
   20% { color: #55383f; }
   40% { color: #743c4a; }
   60% { color: #964156; }
   80% { color: #b84661; }
  100% { color: #d54a6b; }
}

@keyframes anifade {
   0% { opacity: 0; }
   20% { opacity: 0.2; }
   40% { opacity: 0.4; }
   60% { opacity: 0.6; }
   80% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes anirot {
   0% { transform: rotate(45deg); }
   20% {  transform: rotate(90deg); }
   40% {  transform: rotate(180deg); }
   60% {  transform: rotate(360deg); }
   80% {  transform: rotate(20deg); }
  100% {  transform: rotate(40deg); }
}



/*----------!!!------------ГЛАВНАЯ СТРАНИЦА----------!!!-----------------*/

/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.full__container{
  max-width: 8000px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.popup {
  display: none;
}

.header_content_burger_menu{
  display: none;
}

/*----------------------ШАПКА---------------------------*/

header{
  background: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_content{
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content_leftpart{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header_content_leftpart_title p{
  font-family: "BebasNeueRegular-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #D54A6B;
  letter-spacing: 2px;
}

.header_content_centrepart{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header_content_centrepart a{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #000000;
}

.header_content_rightpart{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header_content_rightpart a{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.header_content_rightpart a:nth-child(2){
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 192px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #D5496B;
  color: #D5496B;
}


/*---------------------ПЕРВЫЙ ЭКРАН---------------------------*/

.firstsec{
  background: url(../img/firstsec_background.png);
  background-size: contain;
  z-index: 5;
}

.firstsec_content{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 130px;
}

.firstsec_content_uppart_list{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.firstsec_content_uppart_list_item{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 140px;
  width: 100%;
  margin-right: 20px;
  overflow: hidden;
}

.firstsec_content_uppart_list_item h3{
  font-family: "Montserrat-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #333333;
  letter-spacing: 0.5px;
}

.firstsec_content_uppart_list_item p{
  font-family: "Montserrat-400";
  font-size: 0.75rem;
  text-decoration: none;
  color: #1F1D1D;
  margin-top: 10px;
}

.firstsec_content_uppart_list_item_firstchild{
  max-width: 360px !important;
  width: 100%;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-right: 0px;
}

.firstsec_content_uppart_list_item_firstchild_buttons{
  margin-top: 50px;
  column-gap: 20px;
  display: flex;
}

.firstsec_content_uppart_list_item_firstchild_buttons a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.firstsec_content_uppart_list_item_firstchild_buttons a:nth-child(2){
  background: #333333;
}

.firstsec_content_uppart_list_item_slider{
  max-width: 780px;
  width: 100%;
}

.firstsec_content_uppart_list_item_slider_item{
  height: 220px !important;
  padding: 0px;
  max-width: 180px;
  width: 100%;
  border: 0px;
}

.firstsec_content_uppart_list_item_slider_item_content{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 160px;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(1){
  background: #f9e5e9;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(2){
  background: #fef4e8;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(3){
  background: #fffbe5;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(4){
  background: #f3f9ec;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(1) > .firstsec_content_uppart_list_item_slider_item_content{
  background: url(../img/firstsec_content_uppart_list_item_slider_item_2_box.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(2) > .firstsec_content_uppart_list_item_slider_item_content{
  background: url(../img/firstsec_content_uppart_list_item_slider_item_3_box.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(3) > .firstsec_content_uppart_list_item_slider_item_content{
  background: url(../img/firstsec_content_uppart_list_item_slider_item_4_box.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(4) > .firstsec_content_uppart_list_item_slider_item_content{
  background: url(../img/firstsec_content_uppart_list_item_slider_item_5_box.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.firstsec_content_uppart_list_item_slider_item:nth-child(5) > .firstsec_content_uppart_list_item_slider_item_content{
  background: url(../img/firstsec_content_uppart_list_item_slider_item_5_box.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: right bottom;
}



.firstsec_content_uppart_list_item_slider_arrows{
  position: absolute;
  top: 15%;
  width: 100%;
  display: none;
}

.firstsec_content_uppart_list:hover .firstsec_content_uppart_list_item_slider_arrows {
  display: flex;
  animation: aniop 0.5s linear;
}

.firstsec_content_uppart_list_item_slider_arrows_leftbtn{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 0px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  left: 35.5%;
  position: absolute;
  cursor: pointer;
}

.firstsec_content_uppart_list_item_slider_arrows_rightbtn{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 0px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  right: 2%;
  position: absolute;
  cursor: pointer;
}

.firstsec_content_uppart_list_item_slider_arrows_rightbtn img{
  transform: rotate(180deg);
}



.firstsec_content_centrepart_slider{
  margin-bottom: 0px !important;
}

.firstsec_content_centrepart_slider > div:nth-child(1) {
  border-radius: 20px;
}

.firstsec_content_centrepart_slider_item{
  display: flex;
  flex-direction: column;
  background: blue;
  max-width: 1070px;
  width: 100%;
  padding-left: 110px;
  padding-top: 145px;
  padding-bottom: 145px;
  border-radius: 20px;
  background: url(../img/firstsec_content_centrepart_slider_background_item_1.png);
  background-size: cover;
}

.firstsec_content_centrepart_slider_item h3{
  font-family: "Montserrat-700";
  font-size: 2.25rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.firstsec_content_centrepart_slider_item p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #ffffff;
  margin-top: 15px;
  max-width: 380px;
}

.firstsec_content_centrepart_slider_item a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstsec_content_centrepart_slider > .slick-dots button {
  padding:0;
}
.firstsec_content_centrepart_slider > .slick-dots li > button {
  width:15px;
  height:15px;
  background: #E3E3E3;
  border-radius: 50%;
}

.firstsec_content_centrepart_slider > .slick-dots li {
  width:15px !important;
  height:15px !important;
  margin: 0 7px;
  border-radius: 50%;
}

.firstsec_content_centrepart_slider > .slick-dots li[class="slick-active"] button {
  background: #D54A6B;
   width:15px;
  height:15px;
  margin-right: 7px;
  border-radius: 10px;
} 

.firstsec_content_centrepart_slider > .slick-dots li[class="slick-active"] {
  background: #FF9E2D;
   width:15px;
  height:15px;
  margin-right: 7px;
  border-radius: 10px;
}

.firstsec_content_centrepart_slider > .slick-dots {
  bottom: 20px;
}

.firstsec_content_centrepart_slider > .slick-dots li button::before {
  content: none !important;
}



.firstsec_content_downpart{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}

.firstsec_content_downpart_leftpart{
  display: flex;
  flex-direction: column;
}

.firstsec_content_downpart_leftpart h2{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.firstsec_content_downpart_leftpart h2 > b{
  font-family: "BebasNeueBold-700";
  font-size: 8.125rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 3px;
  margin-right: 20px;
}

.firstsec_content_downpart_leftpart p{
   font-family: "Montserrat-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
}

.firstsec_content_downpart_leftpart a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstsec_content_downpart {
  margin-top: -60px;
}


/*---------------------СЕКЦИЯ НАШ КУРС---------------------------*/

.ourcurssec{
  background: url(../img/ourcurssec_background.png);
  margin-top: -60px;
  margin-bottom: -6px;
  background-size: cover;
}

.ourcurssec_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}

.ourcurssec_content_rightpart{
  display: flex;
  flex-direction: column;
}

.ourcurssec_content_rightpart h3{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  text-decoration: none;
  color: #5B4D4F;
  letter-spacing: 1px;
}

.ourcurssec_content_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #1F1D1D;
  margin-top: 25px;
  max-width: 420px;
  width: 100%;
}

.ourcurssec_content_rightpart a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}







/*---------------------СЕКЦИЯ ПЕРВЫЙ УРОК---------------------------*/

.firstlessonsec{
  background: url(../img/firstlessonsec_background.png);
  background-size: cover;
  margin-bottom: 100px;
  margin-bottom: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.firstlessonsec_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 77px;
}

.firstlessonsec_content h3{
  font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.firstlessonsec_content p{
  font-family: "Montserrat-400";
  font-size: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
}

.firstlessonsec_content a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstlessonsec img:nth-child(1){
  position: absolute;
  left: 0;
  bottom: -120px;
}

.firstlessonsec img:nth-child(2){
  position: absolute;
  right: 0;
  top: -120px;
}



/*---------------------СЕКЦИЯ ИСКУССТВА---------------------------*/


.artsec{
  position: relative;
  padding-top: 138px;
}

.artsec_content_header h2{
  font-family: "BebasNeueBold-700";
  font-size: 11.875rem;
  text-decoration: none;
  color: #CCCCCC;
  letter-spacing: 63px;
  text-align: center;
  position: absolute;
  top: -55px;
}

.artsec_content_header h3{
  font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  text-decoration: none;
  color: #5B4D4F;
  letter-spacing: 3px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.artsec_content_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 60px;
}

.artsec_content_list_item{
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 35px;
  padding-right: 30px;
  background: #FFFFFF;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.artsec_content_list_item:hover h3{
  animation: ani 0.5s ease-out;
  color: #D54A6B;
}

.artsec_content_list_item_theme{
   font-family: "Montserrat-400";
  font-size: 0.75rem;
  text-decoration: none;
  color: #1F1D1D;
  background: #F1F1F1;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  padding-right: 11px;
  width: fit-content;
}

.artsec_content_list_item h3{
   font-family: "Montserrat-600";
  font-size: 1.75rem;
  text-decoration: none;
  color: #333333;
  margin-top: 21px;
}

.artsec_content_list_item_title{
   font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
  margin-top: 16px;
}

.artsec_content_list_item_line{
  height: 1px;
  background: #333333;
  width: 100%;
  margin-top: 32px;
}

.artsec_content_list_item_prices{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artsec_content_list_item_prices_leftpart{
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.artsec_content_list_item_prices_leftpart p{
   font-family: "Montserrat-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #1B233D;
  font-weight: 600;
}

.artsec_content_list_item_prices_leftpart p:nth-child(2){
  text-decoration: line-through;
  color: #959595;
}

.artsec_content_list_item_prices_rightpart p{
   font-family: "Montserrat-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #1B233D;
  font-weight: 600;
}

.artsec_content_list_btnmore{
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #FFFFFF;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
   font-family: "Montserrat-600";
  font-size: 1.75rem;
  text-decoration: none;
  color: #333333;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.artsec_content_list_btnmore:hover{
  animation: ani 0.5s ease-out;
  color: #D54A6B;
}


/*---------------------СЕКЦИЯ ЗАПОЛНИТЕ АНКЕТУ---------------------------*/


.anketasec{
  margin-top: 120px;
}

.anketasec_content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.anketasec_content_leftpart{
  max-width: 360px;
}



.anketasec_content_leftpart h3{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  text-decoration: none;
  color: #5B4D4F;
  letter-spacing: 1px;
}

.anketasec_content_leftpart p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #1F1D1D;
  margin-top: 10px;
  max-width: 420px;
  width: 100%;
}

.anketasec_content_leftpart a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------СЕКЦИЯ О НАС---------------------------*/


.aboutussec{
  margin-top: 120px;
}

.aboutussec_content_uppart{
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.aboutussec_content_item{
  border-radius: 20px;
  background: #ffffff;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  max-width: 780px;
  width: 100%;
}

.aboutussec_content_item h3{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  color: #5B4D4F;
}

.aboutussec_content_item b{
  font-family: "BebasNeueBold-700";
  font-size: 1rem;
  color: #5B4D4F;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0.5;
  display: flex;
}

.aboutussec_content_item h4{
  font-family: "BebasNeueBold-700";
  font-size: 1.125rem;
  color: #5B4D4F;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutussec_content_item p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #5B4D4F;
  max-width: 600px;
}

.aboutussec_content_item > h4:nth-child(5) {
  margin-top: 28px;
}

.aboutussec_content_uppart > img:nth-child(2) {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.aboutussec_content_item_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.aboutussec_content_item_downpart{
  padding-left: 0px;
  max-width: unset;
}

.aboutussec_content_item_mobile{
  display: none;
}


/*---------------------СЕКЦИЯ АКЦИЯ---------------------------*/

.promosec{
  background: url(../img/promosec_background.png);
  background-size: cover;
  margin-top: 80px;
}

.promosec_content{
  padding-top: 56px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  padding-bottom: 60px;
}

.promosec_content_rightpart{
  text-align: center;
}

.promosec_content h3{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.promosec_content p{
  font-family: "BebasNeueBold-700";
  font-size: 2.25rem;
  color: #FFFFFF;
  letter-spacing: 4px;

}

.promosec_content_rightpart p:nth-child(2){
  font-size: 3.75rem;
  letter-spacing: 2px;
  line-height: 3.75rem;
}

.promosec_content b{
  font-family: "BebasNeueBold-700";
  font-size: 14rem;
  color: #FFFFFF;
  line-height: 185px;
}

.promosec_content > div:nth-child(2) > img:nth-child(6) {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
}

.promosec_content_rightpart a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 160px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promosec_content_title{
  background: url(../img/promosec_content_title_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 5%;
  top: 30%;
  width: 211px;
  height: 181px;
}

.promosec_content_title p{
  font-size: 2.313rem;
  text-align: left;
  padding-top: 40px;
  padding-left: 38px;
  padding-bottom: 30px;
  padding-right: 28px;
  padding-top: 30px;
  letter-spacing: 0px;
}


/*---------------------СЕКЦИЯ ОТЗЫВЫ---------------------------*/

.reviewssec{
  margin-top: 110px;
}

.reviewssec_content h3{
   font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  color: #5B4D4F;
  letter-spacing: 2px;
  text-align: center;
}

.reviewssec_content_slider_item_content{
  position: relative;
}

.reviewssec_content_slider_item_content_title{
  font-family: "Montserrat-600";
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  max-width: 150px;
  width: 100%;
  position: absolute;
  top: 2px;
  left: 30%;
  right: 50%;
  text-align: center;
  background: rgba(255,255,255,0.7);
  padding-top: 2px;
  padding-bottom: 14px;
  border-radius: 0 0 6px 6px;
  max-width: 168px;
  top: 0px;
  left: 28%;
  letter-spacing: 0.5px;
  display: none; /* УБРАТЬ ЧТОБ БЫЛ ТАЙТЛ */
}

.reviewssec_content_slider_item{
  max-width: 380px;
  width: 100%;
  margin-right: 20px;
}

.reviewssec_content_slider_item:nth-child(n+3) .reviewssec_content_slider_item_content_title{
  top: auto;
  bottom: -13px;
  border-radius: 6px 6px 0px 0px;
  padding-top: 11px;
}

.reviewssec_content_slider_buttons_leftpart{
  position: absolute;
  top: 61%;
  left: -50px;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

.reviewssec_content_slider_buttons_rightpart{
  position: absolute;
  top: 61%;
  right: -50px;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

.reviewssec_content_slider_buttons_rightpart img{
  transform: rotate(180deg);
}



/*---------------------СЕКЦИЯ КОМУ ПОДОЙДЕТ---------------------------*/

.whoissec{
  margin-top: 120px;
}

.whoissec_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.whoissec_content_leftpart{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  color: #5B4D4F;
  letter-spacing: 1px;
  background: #ffffff;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 403px;
}

.whoissec_content_rightpart{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  color: #5B4D4F;
  letter-spacing: 1px;
  background: #ffffff;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 403px;
}

/*---------------------СЕКЦИЯ ПОПУЛЯРНЫЕ ИСКУССТВА---------------------------*/


.popularartsec{
  margin-top: 120px;
}

.popularartsec_content_header{
   font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  color: #5B4D4F;
  letter-spacing: 2px;
  text-align: center;
}

.popularartsec_content > div:nth-child(2) {
  margin-top: 20px;
}

/*---------------------СЕКЦИЯ ПОДАРОК---------------------------*/


.giftsec{
  margin-top: 170px;
  background: url(../img/giftsec_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.giftsec_content{
  display: flex;
  justify-content: space-between;
}

.giftsec_content_leftpart{
  padding-top: 82px;
}

.giftsec_content_leftpart h3{
   font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 110px;
}

.giftsec_content_leftpart p{
  font-family: "Montserrat-400";
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.125rem;
  margin-top: 10px;
}

.giftsec_content_leftpart a {
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*---------------------ПОДВАЛ---------------------------*/


footer{
  background: url(../img/footer_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_content{
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;
}

.footer_content_item_logo{
  display: flex;
  flex-direction: column;
}

.footer_content_item_logo a{
  margin-bottom: 0 !important;
}

.footer_content_item_logo p{
  margin-bottom: 0 !important;
}

.footer_content_item_logo_title{
  font-family: "Montserrat-400";
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.875rem;
  max-width: 270px;
  margin-top: 17px;
  opacity: 0.5;
}

.footer_content_item h3{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 10px;
}

.footer_content_item a{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
}

.footer_content_item p{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer_content_item_subscribe{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10px;
  opacity: 0.5;
  max-width: 280px;
}

.footer_content_item_subscribe_form{
  display: flex;
  column-gap: 10px;
}

.footer_content_item_subscribe_form input{
   font-family: "Montserrat-400";
  font-size: 0.688rem;
  text-decoration: none;
  color: #333333;
  border-radius: 6px;
  background: #FFFFFF;
  border: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  max-width: 124px;
  width: 100%;
}

.footer_content_item_subscribe_form button {
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 122px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  cursor: pointer;
}

.footer_content_item:nth-child(2){
  padding-right: 80px;
}





















/*----------!!!------------СТРАНИЦА ОСНОВНАЯ ПРОГРАММА----------!!!-----------------*/


.firstsec_mainprogrampage{
  padding-top: 175px;
}

.firstsec_mainprogrampage_content{
  display: flex;
  justify-content: space-between;
}

.firstsec_mainprogrampage_content_leftpart{
  display: flex;
  flex-direction: column;
}

.firstsec_mainprogrampage_content_leftpart h1{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  margin-bottom: 10px;
}

.firstsec_mainprogrampage_content_leftpart p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #5B4D4F;
  max-width: 595px;
  margin-bottom: 20px;
}


.firstsec_mainprogrampage_content_leftpart a {
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstsec_mainprogrampage_content_rightpart > img:nth-child(1) {
  margin-top: -80px;
}


.artsec_content_list_mainprogrampage{
  
}







.artsec_content_list_mainprogrampage_container{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  max-width: 1180px;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}

.artsec_content_list_mainprogrampage_buttons{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

.artsec_content_list_mainprogrampage_buttons_btnleft{
  border: 0px;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}


.artsec_content_list_mainprogrampage_buttons_btnright{
  border: 0px;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}

.artsec_content_list_mainprogrampage_buttons_btnright img{
  transform: rotate(180deg);
}

.artsec_content_list_mainprogrampage_buttons_count span{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #000000;
}

.artsec_content_list_mainprogrampage_buttons_count{
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.artsec_content_list_mainprogrampage_buttons_count p{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #000000;
}

.artsec_content_list_mainprogrampage_container > .artsec_content_list_item{
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
}








.order_mainprogrampage{
  margin-top: 120px;
}

.order_mainprogrampage_content{
  display: flex;
  column-gap: 36px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
}

.order_mainprogrampage_content_leftpart{
  background: url(../img/order_mainprogrampage_content_background.png);
  max-width: 553px;
  width: 100%;
  height: 384px;
  background-size: 100% 100%;
}

.order_mainprogrampage_content_rightpart{
  padding-top: 54px;
  padding-bottom: 54px;
  max-width: 423px;
  
}

.order_mainprogrampage_content_rightpart h3{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  margin-bottom: 10px;
  line-height: 60px;
}

.order_mainprogrampage_content_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #212121;
  max-width: 416px;
}

.order_mainprogrampage_content_rightpart a {
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.whatwillyougetsec{
  margin-top: 120px;
}

.whatwillyougetsec_content h3{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  text-align: center;
}

.whatwillyougetsec_content_list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 80px;
}

.whatwillyougetsec_content_list_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatwillyougetsec_content_list_item_rightpart{
  display: flex;
  column-gap: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  max-height: 231px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.whatwillyougetsec_content_list_item_rightpart_rightpart{
  display: flex;
  flex-direction: column;

}



.whatwillyougetsec_content_list_item_rightpart_rightpart h4{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  line-height: 60px;
}

.whatwillyougetsec_content_list_item_rightpart_rightpart b{
  font-family: "Montserrat-400";
  font-size: 1rem;
  color: #333333;
  font-weight: normal;
  margin-top: 7px;
}

.whatwillyougetsec_content_list_item_rightpart_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
}

.whatwillyougetsec_content_list_item:nth-child(2) > div:nth-child(1) {
  order: 2;
}

.whatwillyougetsec_content_list_item:nth-child(4) > div:nth-child(1) {
  order: 2;
}

.whatwillyougetsec_content_list_item:nth-child(6) > div:nth-child(1) {
  order: 2;
}

.whatwillyougetsec_content_list_item_final{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.whatwillyougetsec_content_list_item_final h4{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  line-height: 60px;
  text-align: center;
  margin-top: 20px;
}

.whatwillyougetsec_content_list_item_final p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  color: #1B233D;
  margin-top: 10px;
  max-width: 540px;
  text-align: center;
}



.anketasec_mainprogram_content{
  background: #ffffff;
  border-radius: 20px;
  padding-top: 28px;
  padding-left: 40px;
  padding-right: 100px;
}

.anketasec_content_leftpart {
  padding-bottom: 71px;
}

.anketasec_mainprogram_content_rightpart{
  background-image: url(../img/anketasec_mainprogram_content_rightpart_image_round.png);
  background-repeat: no-repeat;
  background-position: center;
}

.anketasec_content_rightpart > img:nth-child(1) {
  margin-bottom: -5px;
}

.anketasec_content_leftpart {
  max-width: 533px;
}

.anketasec_content_leftpart p {
  max-width: 533px;
}







.promo_mainprogramsec_content{
  padding-bottom: 0px;
  
  padding-top: 0px;
  grid-template-columns: 1.9fr 1.7fr;
  margin: 0 auto;
  margin-top: 97px;
}

.promo_mainprogramsec_content_leftpart{
  order: 2
}

.promosec_content_rightpart{
  order: 1;

  max-width: 1015px;
  padding-left: 97px;
}

.promosec_content_rightpart {
  padding-top: 53px;
  padding-bottom: 68px;
}

.promo_mainprogramsec_content {
  margin-bottom: 0px;
}

.full_container_mainprogramsec{
    background: url(../img/promosec_content_leftpart_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 60vw;
}

.promosec_content_leftpart > img:nth-child(1) {
  margin-left: 88px;
}






/*----------!!!------------СТРАНИЦА ДОПОЛНИТЕЛЬНОЕ ИСКУССТВО----------!!!-----------------*/

.popularartsec {
  margin-bottom: 80px;
}

.firstsec_dopartpage{
  padding-top: 152px;
}

.firstsec_dopartpage_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.firstsec_dopartpage_content_leftpart{
  display: flex;
  align-items: center;
  padding-top: 59px;
  padding-left: 40px;
  padding-bottom: 59px;
  padding-right: 100px;
  border-radius: 20px;
  background: #FFFFFF;
  column-gap: 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 840px;
  width: 100%;
}

.firstsec_dopartpage_content_leftpart_rightpart{
  display: flex;
  flex-direction: column;
}

.firstsec_dopartpage_content_leftpart_rightpart h2{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  line-height: 60px;
}

.firstsec_dopartpage_content_leftpart_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  color: #1B233D;
  margin-top: 10px;
  max-width: 540px;
}

.firstsec_dopartpage_content_leftpart_rightpart a{
  border-radius: 6px;
  background: #D54A6B;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 198px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstsec_dopartpage_content_rightpart{
  transform: rotate(270deg);
  position: absolute;
  right: -60px;
}

.firstsec_dopartpage_content_rightpart{
  font-family: "BebasNeueBold-700";
  font-size: 6.25rem;
  color: #5B4D4F;
  letter-spacing: 2px;
  white-space: nowrap;
}

.firstsec_dopartpage_content_leftpart_rightpart_mobile{
  display: none;
}









.formatsec_dopartpage{
  margin-top: 105px;
  margin-bottom: -10px;
}

.formatsec_dopartpage h3{
  font-family: "BebasNeueBold-700";
  font-size: 6.875rem;
  letter-spacing: 2px;
  background-image: -moz-linear-gradient(180deg, rgba(138,198,65,1) 82%, rgba(81,165,102,1) 100%);
  background-image: -webkit-linear-gradient(180deg, rgba(138,198,65,1) 82%, rgba(81,165,102,1) 100%);
  background-image: linear-gradient(180deg, rgba(138,198,65,1) 82%, rgba(81,165,102,1) 100%);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formatsec_dopartpage_content{
  margin-top: 20px;
  border-radius: 20px;
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1100px;
  width: 100%;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.formatsec_dopartpage_content_leftpart{
  display: flex;
  flex-direction: column;
}

.formatsec_dopartpage_content_leftpart h4{
  font-family: "Montserrat-600";
  font-size: 1.75rem;
  text-decoration: none;
  color: #333333;
  max-width: 540px;
  margin-bottom: 10px;
}

.formatsec_dopartpage_content_leftpart p{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
  max-width: 540px;
}

.formatsec_dopartpage_content > img:nth-child(2) {
  position: absolute;
  right: 40px;
  top: -150px;
}




.whatgetsec_dopartpage{
  margin-top: 80px;
}

.whatgetsec_dopartpage h3{
   font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  letter-spacing: 2px;
  text-align: center;
}

.whatgetsec_dopartpage_content{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 20px;
}

.whatgetsec_dopartpage_content_item{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.whatgetsec_dopartpage_content_item img{
  object-fit: none;
  width: 60px;
}

.whatgetsec_dopartpage_content_item h4{
  font-family: "Montserrat-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #333333;
  margin-top: 10px;
}

.whatgetsec_dopartpage_content_item p{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
  margin-top: 10px;
}


















.pricessec_dopartpage{
  margin-top: 80px;
  background: url(../img/pricessec_dopartpage.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

.pricessec_dopartpage_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.pricessec_dopartpage_content_item{
  padding: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.pricessec_dopartpage_content_item h3{
  font-family: "BebasNeueBold-700";
  font-size: 2.5rem;
  color: #5B4D4F;
  letter-spacing: 2px;
}

.pricessec_dopartpage_content_item_list{
  margin-top: 20px;
}

.pricessec_dopartpage_content_item_list li{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #333333;
}

.pricessec_dopartpage_content_item > ul:nth-child(2) {
  padding-left: 18px;
}



















.questionssec_dopartpage{
  margin-top: 80px;
}

.questionssec_dopartpagec_dopartpage_content{
  margin-top: 20px;
}

.questions-list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.questionssec_dopartpage h3{
  font-family: "BebasNeueBold-700";
  font-size: 3.75rem;
  color: #5B4D4F;
  letter-spacing: 2px;
  text-align: center;
}

.questions-list{
  display: flex;
  flex-direction: column;
}

.questions-list-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}


.plus{
  width: 24px;
  height: 24px;
  padding: 16px;
  border-radius: 50%;
}

.questions-list-item p:nth-child(2){
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: center;
  margin-top: 10px;
  opacity: 0.8;
}

.questions-list-item p:nth-child(1){
  font-family: "Montserrat-600";
  font-size: 1.5rem;
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: center;
  width: 860px;
}

.questions-list-item-wrapinfo{
  margin-top: 20px;
  max-width: 745px;
}

.questions-list-item-wrapinfo p{
  font-family: "Ubuntu-300";
  font-size: 1.25rem;
  color: #212833;
  line-height: 32px;
}

.questions-list-item-wrapinfo-dopinfo{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #84C3E0;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  max-width: 204px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.questions-list-item-title{
  display: flex;
  justify-content: space-between;
  background: transparent;

}

.questions-list-item-title-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.questions-list-item-wrapinfo_js{
  display: flex !important;
  flex-direction: column;
  animation: anifade 1s forwards;
}

.questions-list-item-btnwrap-imgnoactive_js{
  display: none !important;
}

.questions-list-item-btnwrap-imgactive_js{
  display: block !important;

}

.questions-list-item-wrapinfo{
  display: none;

}

.questions-list-item-btnwrap{
  border: 0px;
  background: transparent;
  cursor: pointer;
}

.questions-list-item-btnwrap-imgactive{
  display: none;
}

.questions-list-item-btnwrap-imgnoactive{
  display: block;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(17, 16, 22, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 27px;
  height: 27px;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(2) {
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.questions-list-item-title_image_js{
  width: 660px;
  height: 245px;
  animation: anitwo 0.5s linear;
}

.questions-list-item > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.questions-list-item-wrapinfo_js p{
  font-family: "Montserrat-400" !important;
  font-size: 1rem !important;
  text-decoration: none !important;
  color: #333333 !important;
  max-width: 860px;
  line-height: 19px;
}

.plus_act{
   transform: rotate(45deg); 
   background: rgba(17, 16, 22, 0.1);
   padding: 15px;
   animation: anirot 0.5s linear;
}





/*----------!!!------------СТРАНИЦА ОСНОВНОЕ ИСКУССТВО----------!!!-----------------*/


.formatsec_dopartpage_mainart_h3{
  background-image: -moz-linear-gradient(180deg, rgba(213,74,107,1) 82%, rgba(174,52,82,1) 100%) !important;
  background-image: -webkit-linear-gradient(180deg, rgba(213,74,107,1) 82%, rgba(174,52,82,1) 100% ) !important;
  background-image: linear-gradient(180deg, rgba(213,74,107,1) 82%, rgba(174,52,82,1) 100%) !important;
}

















/*----------!!!------------СТРАНИЦА ДОПОЛНИТЕЛЬНОЕ ИСКУССТВО----------!!!-----------------*/

.whatwillyougetsec_content_list_dopprogrampage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

.whatwillyougetsec_content_list_item_dopprogrampage{
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(1){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(2){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(3){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(4){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(5){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage:nth-child(6){
  background: url(../img/whatwillyougetsec_content_list_item_dopprogrampage_6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatwillyougetsec_content_list_item_dopprogrampage p{
  font-family: "Montserrat-500";
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}









/*------------!!!----------МОДАЛКИ------------!!!-----------*/

/*-------------------------МОДАЛКА-------------------------------*/

.micromodal-slide {
  display: none;
}


.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
   z-index: 101;
}


/*-------------------------МОДАЛКА ЛОГИН 1-------------------------------*/

.container_modal_login {
  border-radius: 6px;
  max-width: 360px;
  background: #FFFFFF;
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.container_modal_login h2{
  font-family: "BebasNeueBold-700";
  font-size: 1.25rem;
  color: #333333;
  line-height: 60px;
  line-height: 20px;
  text-align: center;
}

.container_modal_login_form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.container_modal_login_form input{
  outline: none;
  border-radius: 6px;
  border: 0px;
  background: #F1F1F1;
   font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 330px;
  width: 100%;
}

.container_modal_login_form button{
  outline: none;
  border: 0px;
  background: #D54A6B;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-500";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 20px;
  cursor: pointer;
}

.container_modal_login_form_reg{
   font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #1F1D1D;
  margin-top: 10px;
  text-align: center;
}

.container_modal_login_form_reg a{
   font-family: "Montserrat-700";
  font-size: 0.875rem;
  text-decoration: none;
  color: #D54A6B;
  margin-top: 10px;
}

.container_modal_login_form_varlogin{
   font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #1F1D1D;
  margin-top: 30px;
  text-align: center;
}

.container_modal_login_form_loginvk{
   font-family: "Montserrat-600";
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 30px;
  text-align: center;
  background: #4188ed;
  border-radius: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}


#close_modal {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}




/*-------------------------МОДАЛКА ЛОГИН 2-------------------------------*/

.container_modal_login2 {
  border-radius: 6px;
  max-width: 360px;
  background: #FFFFFF;
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.container_modal_login2 h2{
  font-family: "BebasNeueBold-700";
  font-size: 1.25rem;
  color: #333333;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container_modal_login2 p{
  margin-left: 5px;
}

.container_modal_login_form2{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.container_modal_login_form2 input{
  outline: none;
  border-radius: 6px;
  border: 0px;
  background: #F1F1F1;
   font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 330px;
  width: 100%;
}

.container_modal_login_form2 button{
  outline: none;
  border: 0px;
  background: #D54A6B;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-500";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 20px;
  cursor: pointer;
  background: rgba(213, 74, 107, 0.5);
}

.container_modal_login_form2 button > p{
  margin-left: 5px;
}

#close_modal2 {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.container_modal_login_form2_changephone {
  outline: none;
  border: 0px;
  background: #D54A6B;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-600";
  font-size: 1rem;
  text-decoration: none;
  color: #212121;
  margin-top: 20px;
  cursor: pointer;
  background: #F1F1F1;
}

.container_modal_login_form_reg {
  margin-top: 20px;
}

.modal__container-login2 {
  max-width: 360px;
  width: 100%;
}





/*-------------------------МОДАЛКА ЛОГИН 3-------------------------------*/

.container_modal_login3 {
  border-radius: 6px;
  max-width: 360px;
  background: #FFFFFF;
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.container_modal_login3 h2{
  font-family: "BebasNeueBold-700";
  font-size: 1.25rem;
  color: #333333;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container_modal_login3 p{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background: #B6FFB2;
  border-radius: 6px;
  max-width: 330px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: left;
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
}

#close_modal3 {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__container-login3 {
  max-width: 440px;
  width: 100%;
}